*{
    margin: 0px;
    box-sizing: border-box;
    font-family: sans-serif;
}
body{
    background-color: black;
}
.grid{
    display: grid;
    grid-template-rows: min-content;
    grid-template-columns:1fr 1fr;
    border-radius: 20px;
    place-items:center;
    align-items:start;
    width: 70vw;
    gap: 50px;
    padding-top:100px;
}

.center{
    display: flex;
    justify-content: center;
    align-items: center;
    margin:0px 100px;
}
h2{
    font-size: 30px;
}
.sss{
   // height: 300px;
}
.flex-center{
   // height:200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 10%;
    gap: 10px;
    perspective: 80px;
}
.profile{
       display: grid;
       color: white;
       width: 300px;
       grid-template-columns: 1fr;
       grid-template-rows: 1fr 1fr 1fr;
       background-color: #292929;
       border-radius: inherit;
       position:sticky;
       top:50px;
}
.border-bottom{
    margin-top: 20px;
    border-bottom:4px rgb(132, 126, 126) solid;
}
#information{
    height: 240px;
}

#information span{
    display: block;
    color: rgb(142, 136, 136);
    margin-bottom: 5px;
}
.space{
    margin-bottom: 25px;
}
#img{
    border: 1px rgb(197, 159, 159) solid;
    border-radius: 100%;

}
#frontend{
    background-color: black;
    text-align: center;
    color: #f7de1ec2;
    width: 160px;
    height: 35px;
    font-size: 15px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    border:4px rgb(56, 51, 51) solid;
}
.profile,.content{
    padding: 15px;
    border-radius: 15px;
    border:4px rgb(56, 51, 51) solid;
}
#frontend>p{
  position: relative;
}
#frontend>p:hover{
  transform: translateZ(20px);
  box-shadow: 10px 10px 30px green;
}
a:hover{
    cursor:pointer;
    color:green;
}
a:active{
    color: #f7de1ec2;
}
header{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 10px;
    padding-bottom: 30px;
}
header a{
    color: white;
    font-size: 18px;
    text-decoration: none;
}
.goldline{
    margin: 20px 0px;
    background-color: #f7de1ec2;
    width: 75px;
    height: 5px;
    border-radius: 2px;
}
.names{
    display: grid;
    grid-template-columns: repeat(4,minmax(120px,1fr));
    /* flex-wrap: wrap; */
    gap: 25px;
}
h2{
    font-weight: 600;
}
.names h2{
    margin-top: 5px;
    font-size: 12px;
}
img{
    color: #f7de1ec2;
}
.names div{
    height: auto;
    width: auto;
    display: flex;
    padding: 20px;
    gap: 4px;
    flex-direction: column;
    align-items: center;
    font-weight: lighter;
     border-radius: 15px;
    border:4px rgb(56, 51, 51) solid;
    background-color: #171010ae;
    transition: all 150ms linear 0s;
}

.names>div:hover{
filter:invert(1);
box-shadow: 6px 6px 30px white;
}
.names div img{
    height: 50px;
    width: 50px;
  filter: invert(42%) sepia(83%) saturate(60) hue-rotate(25deg) brightness(199%) contrast(209%);
}
.content{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: calc(50px);
    border-radius: inherit;
    background-color: #292929;
    color: white;

}
.content div p{
    color: rgb(142, 136, 136);
    line-height: 1.4;
    text-align: justify;
}

@media screen and (max-width:1026px){
.grid{
   grid-template-columns: min-content;
    gap:20px;

}
.project{
flex-wrap:no-wrap;
}
.project div{
align-self:stretch;
height:auto;
}
.profile{
width:80vw;
position:static;
}
}
@media screen and (max-width:500px){
.grid{
   grid-template-columns: min-content;
    gap:20px;
}
.flex-center>h2
{font-size:20px;
font-weight:600;
}
.profile{
position:static;
min-width:300px;
}

}
#ui_icon>a:hover{
filter: invert(42%) sepia(83%) saturate(60) hue-rotate(25deg) brightness(199%) contrast(209%);
}

#ui_icon{
display:flex;
justify-content:center;
}
a{
color:white;
 text-decoration: none;
 }
#ui_icon>a{
align-self:start;
filter: invert(15%) sepia(24%) saturate(60) hue-rotate(14deg) brightness(80%) contrast(400%);
}
.circle-point{
display:inline-block;
height:10px;
width:10px;
border:2px #f7de1ec2 solid;
border-radius:7px;
position:relative;
left:-4px;
}

.line-blank{
display:inline-block;
// background-color:rgb(132, 126, 126);

height:200px;
width:2px;
background: linear-gradient(
to bottom,
 rgb(132, 126, 126) 2%,
 #f7de1ec2 9%
);
}

.oracle,.engineering{
width:500px;
position:relative;
top:-18px;
left:20px;
}
.project{
display:flex;
flex-wrap:wrap;
justify-content:center;
align-items:center;
gap:50px;
perspective:1000px;
}
.project h2{
font-size:15px;
}
.project p{
font-size:10px;
}
.project img{
height:100px;
width:250px;
}
.project div{
height:auto;
min-width:200px;
height:auto;
max-width:100vw;
}
.student a,.hospital a,.binarysearch a,.taco a{
display:flex;
gap:5px;
padding:10px;
flex-direction:column;
 justify-content:center;
 align-items:center;
}
.student:hover,.hospital:hover,.binarysearch:hover,.taco:hover{
cursor:pointer;
box-shadow:8px 7px 50px  green;
transform:translateZ(10px);
}
